/* general styling */

a {color: inherit;}
a:hover {color: inherit;}

/* navbar styling */
.navbar {
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

.navbar-nav a{
    font-size: 22px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

/* landing page styling */
.landing{
    padding-top: 1%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
}

.landing-text{
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 21.5px;
    letter-spacing: -1px;
}

.landing-text h1{
    font-size: 60px;
}

.landing-img{
    width: 30em;
}

.landing-socials i {
    padding-top: 2%;
    margin-right: 4%;
    
}